{% extends 'common.html' %}

    {% block title %} Home {% endblock %}

    {% block body_content %}
    {% load static %}
    
    
    <main class="mt-5 pt-3 status h-100">
      <div class="container-fluid">
        <div class="row yh mb-5">
          <div class="col-md-9 col-sm-3 mt-lg-3 mt-sm-0">
            <h4 class="fw-bold" >Hello, {{user.first_name}} {{user.last_name}}</h4>
            <p class=" " >{{date}}</p>
          </div>
          <div class="col-md-3 col-sm-4 ms-auto mt-lg-3 mt-sm-0">
            <div class="calender mb-5">
              <h4>Calender</h4> <input type="week" name="" id="">
              <img src="{% static './images/icons8-calender-64.png' %}" height="40" alt="" class="calender-logo">
            </div>
          </div>
        </div>
        {% if messages %}
          <span class="text-success fs-5" style="margin: 80px 20px 20px 20px;">
            {% for message in messages %}
                {{message}}
            {% endfor %}
          </span>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="p-2 stat mt-5 supe sup">
            <div class="mb-lg-4 mb-sm-0">
              <div class="d-flex">
                <label for="basic-url" class="form-label mx-3"
                  >Select
                  Category
                </label>
                <select class="select-forsupport" id="{{ form_consult.category.id_for_label }}" name="{{ form_consult.category.name }}">
                  {% for choice in form_consult.category.field.choices %}
                      <option value="{{ choice.0 }}" {% if choice.0 == form_consult.category.value %}selected{% endif %}>{{ choice.1 }}</option>
                  {% endfor %}
                </select>
                <input
                    class="select-forsupport ms-3"
                    placeholder="Device name" 
                    type="text" 
                    id="{{ form_consult.device_name.id_for_label }}" 
                    name="{{ form_consult.device_name.name }}" 
                    
                  />
              </div> 
            </div>
           
            <div class="p-4">
              <div class="d-flex justify-content-between mt-2 line-30">
                <label for="basic-url" class="form-label"
                  >Enter your complaint</label
                >
                <label for="basic-url" class="form-label"
                  ><button class="btn submit-complainbtn">Submit</button></label
                >
              </div>
              <div class="input-group">
                <textarea
                  class="form-control sup"
                  rows="9"
                  aria-label="With textarea"
                  placeholder=" Please fill in your complaint here "
                  id="{{ form_consult.complaint.id_for_label }}" 
                  name="{{ form_consult.complaint.name }}" 
                  value="{{ form_consult.complaint.value }}"
                ></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </main>
    {% endblock body_content %}
