{% extends 'common2.html' %}

    {% block title2 %}Edit{% endblock title2 %}
    {% block body_content2 %}
    {% load static %}
    <div style="margin-top: 10vh;">
        <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5 col-12">
            <p><span class="date text-pink text-size-30px mt-5">
                {% if messages %}
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                {% endif %}</span>
            </p>
            <form method="post" class="mt-4 border shadow p-3", encytype="multipart/form-data">
                {% csrf_token %}
                {% load crispy_forms_tags %}

                {{user_form|crispy}}
                {{profile_form|crispy}}

                <div class='d-flex justify-content-center'>
                    <input class="btn btn-primary mt-2 me-3 loginbutton" type="submit" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}