{% extends 'common2.html' %}

    {% block title2 %}password reset{% endblock title2 %}
    {% block body_content2 %}
    {% load static %}
    <div style="margin-top: 10vh;  padding:40px;">
        <div class="row justify-content-center">
        <div class="col-md-5 col-lg-4 col-12 border shadow rounded p-4 mt-3">
            <h5 class="fw-semibold mb-3">Set New Password</h5>
            <form method='post'>
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {{form|crispy}}

                <div class="mt-3">
                    <input class='bc-white loginbutton' type='submit' value='Reset Password'>
                </div>
            </form>
        </div>
        </div>
    </div>
    {% endblock %}
