{% extends 'common2.html' %}

    {% block title2 %}Signup{% endblock title2 %}
    {% block body_content2 %}
    {% load static %}
        <div style="margin-top: 10vh;">
            <div class="row">
            <div class="col-3"></div>
            <div class="col-md-6 col-12 col-offset-3">
                <form method='post' class='mt-4 p-5'>
                    {% csrf_token %}
                    {% load bootstrap %}
                    {{form |bootstrap_horizontal:'col-lg-6'}}
    
                    <div class="d-flex justify-content-center">
                    <input class='btn btn-primary mt-2 ms-2' type='submit' value='Sign up'>
    
                </form>
               
            </div>
            </div>
            <div class='col-3'></div>
            </div>
        </div>
        {% endblock %}