
body,
button {
  -webkit-font-smoothing:antialiased !important;
  /* font-family: 'Raleway'; */
}
:root {
  --offcanvas-width: 255px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  font-family: 'Raleway';

  width: var(--offcanvas-width)
}
.sidebar-link {
  font-family: 'Raleway' !important;
  display: flex;
  align-items: center;
 
}

@media (min-width: 992px) {
  body {
    overflow: auto !important;
    -webkit-font-smoothing:antialiased !important;
  }
  .titi{
    border-right: thin solid black !important;
  }

  .fix-nwboard{
    position: relative;
    right: 12px;
    top: 100px;
    font-family: "Raleway";

  }
  .carde{
  width: 15vw !important;
    height: 35vh !important;
  }
  .navbar{
    display: none !important;
  }
  main {
    margin-left: var(--offcanvas-width);
    height: auto !important;
    background-color: rgb(13, 79, 202) !important;
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    /* margin-top: 40px !important; */
    visibility: visible !important;
    /* height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight); */
  }
 .top{
  margin-top: 70px !important;
} 

}
.purple{
  background-color: purple;
  color: white;
}
.ellipse{
  /* position: absolute; */
  rotate: 90deg;
  /* margin-top: 30px; */
  color: white;
}

.offe{
  background-color: white !important;
  /* margin-top: 70px; */
  border-right: 1.2px   solid black !important;
 
}
.offee{
 margin-top: 20px; 

}

.profile-icon{
  width: 100px;
  height: 100px;
  border-radius:100px ;
  background-color: black;
  margin-left: 50px;
  color: aliceblue;
  font-family: "Raleway";
  font-size: 10px;
}
.name{
  font-weight: 550;
  color: rgb(8, 8, 59);
  font-size: 15px;
  margin-top: -27px;
}
.mail{
  color: grey;
  margin-top: -12px;
}

.calender{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Verdana;
  color: rgb(58, 5, 58);
  line-height: 10px !important;
  position: absolute;
}
.calender-logo{
  position: absolute;
  /* margin-top: -40px;
  margin-right: 9px; */
  top: -4px;
  right: 2px;
}
.yh{
  /* border: thick solid red ; */
 margin-right: 40px;
}
.yui{
  border: thick solid red ;
}

.left-b{
  border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: white;
}
.hy{
  border: thick solid red ;
}
.h{
  border-right:  1.2px solid black ;
}
.fix{
 background-color: purple;
 border-radius: 20px; 
 color: white;
}
.text{
  font-size: 19px !important;
}
.p-text{
  font-size: 14px !important;

}
.not{
  background-color: rgb(13, 79, 202);
  border-radius: 20px; 
 color: white;
 border-left: 4px solid skyblue;
}
.shop{
  background-color: orange;
  border-radius: 20px; 
}
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
 tr:nth-child(even){background-color: #f2f2f2 !important; }
 td,  th {
  border: 1px solid #ddd !important;}

       tr:hover {
      background-color: #ddd !important;
      }
        th {
        background-color: rgb(13, 79, 202) !important;
        color: white;
      } 
.status{
  background-color: rgb(215, 236, 255) !important;
}
.stat{
  background-color: aliceblue !important;
}


.submit-complainbtn{
  background-color: rgb(13, 79, 202);
  color: white !important;
  height: 40px !important;
  width: 15vw !important;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  /* position: absolute; */
}

.line-30{
  line-height: 30px;
}
.sup{
  border-radius: 15px;
}

.supe{
  margin-top: 80px !important;
}
.main{
  background-color: rgb(13, 79, 202) !important;}


.fix-nwboard{
  background-color: black;
  /* width: 20vw !important; */
  height: 50vh !important;
  border-radius: 25px !important;
  color: white;
  margin-right: 2px !important;
  /* margin-top: 210px; */
  font-family: "Raleway" !important;
}
.fix-nwboard:hover{
  background-color:rgb(13, 79, 202);
}



.left-side{
  color: rgb(0, 0, 0) !important;
  font-family: "Raleway" !important;
  font-weight: 700 !important;
  font-size: 14px !important;
}



.deco{
  text-decoration: none;
  color: white !important;
}
.bge{background-color: white;}

.select-forsupport{
  width: 15vw;
  height: 5vh;
  color: black; 
  border: none !important;
  padding-left: 10px;
  border-radius: 6px;  
  position: relative !important; 
}

.submit-reqbtn{
  background-color: rgb(13, 79, 202);
  color: white !important;
  height: 40px !important;
  width: 15vw;
  font-size: 16px !important;
  border: none;
  border-radius: 3px;
}
.head-in{
  font-size: 20px !important;
  font-weight: 500 !important;
}

.input-pers{
  width: 20vw;
  height: 5vh;
  border-radius: 6px;
  border: none;
  font-size: 16px !important;
  padding-left:5px ;
}

.regu{
 position: relative !important;
top: 60px;

} 
/* .reg{
  position: relative !important;
  bottom: 90px;
  
} */


.card-s{
  border-radius: 15px;
  background-color: rgb(191, 214, 234);
}



.h-text{
  font-size: 15px !important;
  font-weight: 350 !important;
  font-family: "open sans", Helvetica, Arial,sans-serif;

}
.p-text{
  font-size: 11px !important;
  font-weight: 200 !important;
  width: 150px;
  font-family: "open sans", Helvetica, Arial,sans-serif;

  line-height: 15px !important;
}
