{% extends 'common2.html' %}

    {% block title2 %}Home{% endblock title2 %}
    {% block body_content2 %}
    {% load static %}
          <div  class="main">

              <div class="hero">

                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="{% static './images/sBa1yCRsQUmPYRX8qyj4QQ_thumb_6.jpg' %}" class="d-block w-100 " alt="...">
                        <div class="carousel-caption d-block">
                            <h1>Fast Response</h1>
                            <p class=""> Experience prompt and efficient service with our fast response time. Our team of skilled technicians will ensure your phones and laptops is up and running in no time. </p>
                            <button class="but-3 btn"><a href=""></a><span> ORDER A FIX NOW <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" id="arrow">
                                <g fill="none" fill-rule="evenodd">
                                    <g fill="#FFFFFF">
                                        <g>
                                            <g>
                                                <g>
                                                    <g>
                                                        <path d="M.449 3.71c.22-.258.6-.282.849-.053.248.23.27.624.05.883l-2.695 3.159L13.5 7.7v1.4l-14.833-.001 2.695 3.377c.188.236.181.574-.002.8l-.077.08c-.256.22-.635.184-.847-.082L-3.5 8.34z" transform="translate(-347 -564) translate(215.134 195) translate(0 350.615) translate(132.106 18.68) rotate(-90 7.5 7) rotate(-90 5 8.5)"/>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                                    </span></a>
                             </button>
                          </div>
                      </div>
                      <div class="carousel-item">
                        <img src="{% static './images/img1.jpg' %}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-block">
                            <h2>Safe Order</h2>
                            <p class="">we offer you the safest and most transparent ordering process, Place your order worry-free, knowing that our professional team will handle your device with utmost care throughout the entire repair process.</p>
                            <button class="but-3  btn"><a href=""></a><span> ORDER A FIX NOW <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" id="arrow">
                                <g fill="none" fill-rule="evenodd">
                                    <g fill="#FFFFFF">
                                        <g>
                                            <g>
                                                <g>
                                                    <g>
                                                        <path d="M.449 3.71c.22-.258.6-.282.849-.053.248.23.27.624.05.883l-2.695 3.159L13.5 7.7v1.4l-14.833-.001 2.695 3.377c.188.236.181.574-.002.8l-.077.08c-.256.22-.635.184-.847-.082L-3.5 8.34z" transform="translate(-347 -564) translate(215.134 195) translate(0 350.615) translate(132.106 18.68) rotate(-90 7.5 7) rotate(-90 5 8.5)"/>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                                    </span></a>
                             </button>
                          </div>
                      </div>
                      <div class="carousel-item">
                        <img src="{% static './images/qOww+3RATWu7Ofa6tzYOHQ_thumb_a.jpg' %}" class="d-block w-100" alt="...">
                        <div class="carousel-caption  d-block">
                            <h2>Safe Return</h2>
                            <p class="">Rest easy as we securely deliver your repaired phone or laptop right to your doorstep. Our reliable logistics ensure the safe return of your device.</p>
                            <button class="but-2  btn"><a href=""></a><span id="buttn"> ORDER A FIX NOW <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" id="arrow">
                                <g fill="none" fill-rule="evenodd">
                                    <g fill="#FFFFFF">
                                        <g>
                                            <g>
                                                <g>
                                                    <g>
                                                        <path d="M.449 3.71c.22-.258.6-.282.849-.053.248.23.27.624.05.883l-2.695 3.159L13.5 7.7v1.4l-14.833-.001 2.695 3.377c.188.236.181.574-.002.8l-.077.08c-.256.22-.635.184-.847-.082L-3.5 8.34z" transform="translate(-347 -564) translate(215.134 195) translate(0 350.615) translate(132.106 18.68) rotate(-90 7.5 7) rotate(-90 5 8.5)"/>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                                    </span></a>
                             </button>
                          </div>
                      </div>
                      <div class="carousel-item">
                        <img src="{% static './images/delivery.jpg' %}" class="d-block w-100" alt="...">
                        <div class="carousel-caption  d-block">
                            <h1 class="h1-fixtul">Our Company</h1>
                            <p class="para-fixtul">Experience Quality Repairs with Us: We are a trusted company dedicated to providing top-notch phone and laptop repair services. Choose us for expert solutions and exceptional customer service.</p>                            
                            <button class="but-2 btn"><a href=""></a><span id="buttn"> ORDER A FIX NOW <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" id="arrow">
                                <g fill="none" fill-rule="evenodd">
                                    <g fill="#FFFFFF">
                                        <g>
                                            <g>
                                                <g>
                                                    <g>
                                                        <path d="M.449 3.71c.22-.258.6-.282.849-.053.248.23.27.624.05.883l-2.695 3.159L13.5 7.7v1.4l-14.833-.001 2.695 3.377c.188.236.181.574-.002.8l-.077.08c-.256.22-.635.184-.847-.082L-3.5 8.34z" transform="translate(-347 -564) translate(215.134 195) translate(0 350.615) translate(132.106 18.68) rotate(-90 7.5 7) rotate(-90 5 8.5)"/>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                                    </span></a>
                             </button>
                          </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

                
          </div>

          <div class="row vic-ccinfo mt-5 w-100 ">
            <div class="col-lg-6 col-sm-8 mt-3  img-fixful " >
                <img src="{% static './images/pexels-christina-morillo-1181370.jpg' %}"  class="img-fluid ms-5" style="border-top-right-radius: 30px;border-bottom-left-radius: 30px;
                " alt="#fixtulimage" width="90%" >
            </div>
            <div class="col-lg-4 col-sm-8  mt-5 our-fixful" >
                <div class="our-company ms-3">
                    <h1 class="h1-fixtul ms-3">Our Company</h1>
                    <p class="para-fixtul ms-3">Experience Quality Repairs with Us: We are a trusted company dedicated to providing top-notch phone and laptop repair services. Choose us for expert solutions and exceptional customer service..</p>
                    <button class="but-2 btn ms-3"><a href=""></a><span id="buttn"> LEARN MORE ABOUT OUR SERVICE <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" id="arrow">
                        <g fill="none" fill-rule="evenodd">
                            <g fill="#FFFFFF" id="arrow">
                                <g>
                                    <g>
                                        <g>
                                            <g>
                                                <path d="M.449 3.71c.22-.258.6-.282.849-.053.248.23.27.624.05.883l-2.695 3.159L13.5 7.7v1.4l-14.833-.001 2.695 3.377c.188.236.181.574-.002.8l-.077.08c-.256.22-.635.184-.847-.082L-3.5 8.34z" transform="translate(-347 -564) translate(215.134 195) translate(0 350.615) translate(132.106 18.68) rotate(-90 7.5 7) rotate(-90 5 8.5)"/>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                            </span></a>
                     </button>
                </div>
            </div>

          </div>



          <!-- <Section>2</Section> -->
        
          <div class="row vic-ccinfo mt-5 w-100  p-3 "  style="background-color: rgb(247, 247, 247);">
            <div class="col-lg-6 col-sm-8  mt-5 our-fixful" >
                <div class="our-company ms-2">
                  <h1 class="h1-fixtul ms-3">Phone and Laptop Fix</h1>
                  <p class="para-fixtul ms-3">Efficient Phone and Laptop Repairs: Our skilled technicians specialize in fixing a wide range of phone and laptop issues. Trust us to restore your devices to optimal performance. </p>
                  <button class="but-2 btn ms-3"><a href=""></a><span id="buttn"> ORDER A FIX NOW  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" id="arrow">
                      <g fill="none" fill-rule="evenodd">
                          <g fill="#FFFFFF" id="arrow">
                              <g>
                                  <g>
                                      <g>
                                          <g>
                                              <path d="M.449 3.71c.22-.258.6-.282.849-.053.248.23.27.624.05.883l-2.695 3.159L13.5 7.7v1.4l-14.833-.001 2.695 3.377c.188.236.181.574-.002.8l-.077.08c-.256.22-.635.184-.847-.082L-3.5 8.34z" transform="translate(-347 -564) translate(215.134 195) translate(0 350.615) translate(132.106 18.68) rotate(-90 7.5 7) rotate(-90 5 8.5)"/>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </svg>
                          </span></a>
                   </button>
              </div>
          </div>


                  <div class="col-lg-5 col-sm-8 mt-3  img-fixful " >
                      <div class="">
                      <img src="{% static './images/man-holding-pen-in-meeting.jpg' %}" class="img-fluid image " style="border-top-right-radius: 30px;border-bottom-left-radius: 30px;
                      " alt="#fixtulimage" width="90%"  >

                      </div>
                  </div>



        </div>

<!-- <Scroll></Scroll> -->



<div class="vic-ccinfo-ds">
    <main class="container char">
        <h2 data-splitting class="headline headline--jump">Swipe Up :)</h2>
        <h2 data-splitting class="headline headline--float">Fast Response</h2>
        <h2 data-splitting class="headline headline--jog">Safe Delivery</h2>
        <h2 data-splitting class="headline headline--fall">Phone Fix</h2>
        <h2 data-splitting class="headline headline--twirl"> Laptop Fix</h2>
        <h2 data-splitting class="headline headline--flip">All Online</h2>
        <h2 data-splitting class="headline headline--fall">FIXTUL.com</h2>
      </main>
</div>




<!-- <section3></section3> -->

          <div class="row vic-ccinfo mt-5 w-100  p-3 "  style="background-color: rgb(247, 247, 247);">
              <div class="col-lg-6 col-sm-8  mt-5 our-fixful" >
                  <div class="our-company ms-2">
                    <h1 class="h1-fixtul ms-3">We Deliver Your Gadget to Your Door Step</h1>
                    <p class="para-fixtul ms-3">"Convenience at Your Doorstep: Forget the hassle of visiting a repair shop. We'll pick up your gadget, fix it efficiently, and safely deliver it back to you, right at your doorstep.</p>
                    <button class="but-2 btn ms-3"><a href=""></a><span id="buttn"> LEARN MORE ABOUT OUR SERVICE  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" id="arrow">
                        <g fill="none" fill-rule="evenodd">
                            <g fill="#FFFFFF" id="arrow">
                                <g>
                                    <g>
                                        <g>
                                            <g>
                                                <path d="M.449 3.71c.22-.258.6-.282.849-.053.248.23.27.624.05.883l-2.695 3.159L13.5 7.7v1.4l-14.833-.001 2.695 3.377c.188.236.181.574-.002.8l-.077.08c-.256.22-.635.184-.847-.082L-3.5 8.34z" transform="translate(-347 -564) translate(215.134 195) translate(0 350.615) translate(132.106 18.68) rotate(-90 7.5 7) rotate(-90 5 8.5)"/>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                            </span></a>
                     </button>
                </div>
            </div>
                    <div class="col-lg-5 col-sm-8 mt-3  img-fixful " >
                        <div class="">
                        <img src="{% static './images/pexels-tima-miroshnichenko-6169663.jpg' %}"  class="img-fluid image " style="border-top-right-radius: 30px;border-bottom-left-radius: 30px;
                        " alt="#fixtulimage" width="90%"  >
                        </div>
                    </div>
          </div>

<!-- <section 4></section> -->

          <div class="row vic-ccinfo mt-5 w-100 ">
            <div class="col-lg-6 col-sm-8 mt-3  img-fixful " >
                <img src="{% static './images/hand-shake-meeting.jpg' %}"  class="img-fluid ms-5" style="border-top-right-radius: 30px;border-bottom-left-radius: 30px;
                " alt="#fixtulimage" width="90%" >
            </div>
            <div class="col-lg-4 col-sm-8  mt-5 our-fixful" >
                <div class="our-company ms-3">
                    <h1 class="h1-fixtul ms-3">Our Location</h1>
                    <p class="para-fixtul ms-3">Visit our conveniently located store for expert phone and laptop repairs. Our skilled technicians are ready to assist you with all your device needs..</p>
                    <button class="but-2 btn ms-3"><a href=""></a><span id="buttn"> VISIT OUR COMPANY<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" id="arrow">
                        <g fill="none" fill-rule="evenodd">
                            <g fill="#FFFFFF" id="arrow">
                                <g>
                                    <g>
                                        <g>
                                            <g>
                                                <path d="M.449 3.71c.22-.258.6-.282.849-.053.248.23.27.624.05.883l-2.695 3.159L13.5 7.7v1.4l-14.833-.001 2.695 3.377c.188.236.181.574-.002.8l-.077.08c-.256.22-.635.184-.847-.082L-3.5 8.34z" transform="translate(-347 -564) translate(215.134 195) translate(0 350.615) translate(132.106 18.68) rotate(-90 7.5 7) rotate(-90 5 8.5)"/>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                            </span></a>
                     </button>
                </div>
            </div>

          </div>

          </div>
          
          {% endblock body_content2 %}
